* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #d3ad7f;
  border-radius: 5rem;
}
